<section>

  <h3 id="om_os">Om Os</h3>

  <div class="face-lockup">
    <div class="face-1">
      <div class="face-overlay">
        <strong>Randers</strong>
      </div>
    </div>
    <div class="face-2">
      <div class="face-overlay">
        <strong>Kiel</strong>
      </div>
    </div>
    <div class="face-3">
      <div class="face-overlay">
        <strong>Kypfe</strong>
      </div>
    </div>
  </div>
  <div class="blurb">
    <p><strong>Vi er en gruppe på tre drenge, som arrangerer feste! </strong>Det vi gør kan alle selvfølgelig gøre, nej det kan de ikke. Det er kun os der kan lave noget så fantastisk, som vores fester. Det vi gør er helt enestående - kontakt os for at finde ud af mere - vi har tre års erfaring, med at lave fantastiske fester til alle!</p>
  </div>

</section>
