<section>
    <h3>Lad os arbejde sammen!</h3>
    
    <form action="//formspree.io/pipudlejning@gmail.com" method="POST">
        <div class="info-group">
            <label><span>Dit navn</span>
                <input type="text" name="name"></label>

            <label><span>Din e-mail</span>
                <input type="email" name="_replyto"></label>
        </div>
        
        <label><span>Fortæl os om dit projekt</span>
            <textarea name="message"></textarea></label>
        
        <div class="submit-wrap">
            <input type="submit" value="Send">
        </div>
        
        <input type="hidden" name="_next" value="#" />
    </form>
</section>