<!DOCTYPE html>
<section class="colored">

  <h3 id="festpakkerne">Festpakkerne</h3>

  <div class="offers-lockup">
    <div class="offer-1">
      <div class="offer-overlay">
        <a href="/offer-1.html"><strong>Standard pakken</strong></a>
      </div>
    </div>
    <div class="offer-2">
      <div class="offer-overlay">
        <a href="/offer-2.html"><strong>Deluxe pakken</strong></a>
      </div>
    </div>
    <div class="offer-3">
      <div class="offer-overlay">
        <a href="/offer-3.html"><strong>Tema pakken</strong></a>
      </div>
    </div>
  </div>

</section>
